<selection id="<%= model_name.underscore %>_show">

  <table class="formTbl contents">
    <tbody>
      <tr>
        <th width="15%"><%= model.human_attribute_name :name %></th>
        <td><%= @checkpoint_period.name %></td>
      </tr>
      <tr>
        <th width="15%"><%= model.human_attribute_name :description %></th>
        <td><%= @checkpoint_period.description %></td>
      </tr>
      <tr>
        <th><%= model.human_attribute_name :start_date %></th>
        <td><%= @checkpoint_period.start_date %></td>
      </tr>
      <tr>
        <th><%= model.human_attribute_name :end_date %></th>
        <td><%= @checkpoint_period.end_date %></td>
      </tr>
      <% Settings.questions.each do |checkpoint_type| %>
        <tr>
          <td colspan="2" style="padding-left: 8%; font-size: 15px; color: red;">
            <b><%= checkpoint_type[0].upcase %></b>
          </td>
        </tr>
        <% CheckpointQuestion.get_parent.each do |question| %>
          <tr>
            <td colspan="2" style="padding-left: 10%;">
              <b><i><%= question.content %></i></b>
            </td>
          </tr>
          <% @checkpoint_period.period_questions.get_parent_question(question.id).by_type_question(checkpoint_type[1]).each do |period_question| %>
            <tr>
              <td colspan="2" style="padding-left: 13%;">
                <%= period_question.checkpoint_question.content %>
              </td>
            </tr>
          <% end %>
        <% end %>
      <% end %>
    </tbody>
  </table>
  <div class="form-actions">
    <%= link_to t(:button_index, scope: [:views, :labels]), url_for(action: :index), class: "btn" %>
    <%= link_to t(:button_edit, scope: [:views, :labels]), url_for(action: :edit), class: "btn btn-primary" %>
    <%= link_to t(:button_delete, scope: [:views, :labels]), url_for(action: :destroy), confirm: "Do you want to delete it ?",
          method: :delete, class: "btn btn-danger"%>
  </div>

</selection>
