<div class = "list_main">
  <div class = "list_member_left">
    <div class="ctsTit">
      <h2><%= h2_label %></h2>
      <nav></nav>
    </div>
    <table class="list members">
      <tr>
        <th><%= model.human_attribute_name :name %></th>
        <th><%= model.human_attribute_name :content %></th>
        <th style="width:15%"></th>
      </tr>
      <% @question_type.question_type_relations.each_with_index do |question_type_relation, index| %>
        <tr class="<%= index % 2 == 0 ? 'even' : 'odd' %> member">
          <td><%= question_type_relation.question.name %></td>
          <td><%= question_type_relation.question.content %></td>
          <td class="buttons">
            <%= link_to t(:button_delete, scope: [:views, :labels]),
              url_for(action: :destroy, id: question_type_relation.id), confirm: t(:delete_confirm, scope: [:views, :messages]),
              method: :delete, class: "icon icon-delete" %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
  <div class = "list_member_right">
    <div id = "principals">
      <% if @question_type_relations.present? %>
        <div>
          <label for="principal_search">Search for name questions </label>
          <input id="principal_search" type="text" name="principal_search">
        </div>
          <% @question_type_relations.each do |question| %>
            <div class = "user_name" data-id = "<%= question.name.downcase %>" >
              <%= check_box_tag "question_ids[]", question.id, false %><%= question.name %>
            </div>
          <% end %>
          <%= link_to t(:button_add, scope: [:views, :labels]), "#", class: "btn add_questions" %>
        </form>
      <% else %>
        <%= link_to t(:button_new_question, scope: [:views, :labels]), url_for(controller: :questions, action: :new), class: "btn btn-small btn-warning" %>
      <% end %>
      <%= hidden_field_tag :question_type_id, @question_type.id %>
    </div>
  </div>
</div>
