<%= form_for @pickup_list, url: {action: @pickup_list.new_record? ? :create : :update} do |f| %>

  <%= render partial: "errors", locals: {object: @pickup_list} %>
  <%= f.hidden_field :create_user_id, value: current_user.id %>
  <table class="formTbl contents">
    <tr>
      <th width="15%"><%= f.label :name %></th>
      <td><%= f.text_field :name %></td>
    </tr>
    <tr>
      <th><%= f.label :description %></th>
      <td><%= f.text_area :description, cols: 100, rows: 5 %></td>

    </tr>
    <tr>
  </table>
  <div class="form-actions">
    <% if @pickup_list.new_record? %>
      <%= f.hidden_field :create_user_id, value: current_user.id %>
    <% else %>
      <%= link_to t(:button_delete, scope: [:views, :labels]),
        url_for(action: :destroy, id: @pickup_list.id), confirm: t(:delete_confirm, scope: [:views, :messages]),
        method: :delete, class: "btn btn-danger" %>
    <% end %>
    <%= link_to t(:button_cancel, scope: [:views, :labels]), url_for(action: :index), class: "btn btn-primary" %>
    <%= f.submit (@pickup_list.new_record? ? t(:button_create, scope: [:views, :labels]) : t(:button_update, scope: [:views, :labels]) ), class: "btn btn-info" %>
  </div>
<% end %>