<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>Welcome to HR system, <%= @user.display_name %></h2>
    <p>
      You have successfully signed up
      your password is: <b><%= @password %></b><br/>
      <a href="<%= Settings.links.home %>">Click here to signin!</a><br>
    </p>
    <p>Thanks for joining and have a great day!</p>
    <p style="opacity:0.5; font-size: 13px;">
      --<br>
      Kind regards,<br>
      Framgia Hr. <br>
      ===============================<br>
      Hr-System<br>
      Framgia Viet Nam Co.,Ltd<br>
      9F VietA building, Duy Tan street, Cau Giay district, Hanoi, Vietnam<br>
      Mail: <a href="mailto:<%= Settings.mails.hr %>"><%= Settings.mails.hr %></a><br>
      Mobile: 0973.766.610<br>
      <a href="<%= Settings.links.facebook %>"><%= Settings.links.facebook %></a><br>
      <a href="<%= Settings.links.framgia %>"><%= Settings.links.framgia %></a><br>
    </p>
  </body>
</html>