<%= f.fields_for :checkpoint_answers, checkpoint_answer do |answer| %>
  <tr>
    <td colspan = 2 style = "padding-left:5%;" ><%= checkpoint_answer.checkpoint_question.content %></td>
  </tr>
  <tr>
    <td class = "labels">
      <%= checkpoint_answer.content %>
    </td>
  </tr>
  <tr>
    <td class = "labels">
      <%= checkpoint_answer.point %>/<%= checkpoint_answer.checkpoint_question.max_point %>
    </td>
  </tr>
  <% checkpoint_answer.user_answer_comments && checkpoint_answer.user_answer_comments.each_with_index do |user_answer_comment, i| %>
     <%= render "comment_fields", {user_answer_comment: user_answer_comment, f: answer, i: i } %>
  <% end %>
<% end %>

