<selection id="<%= model_name.underscore %>_review">
  <%= form_for @checkpoint, url: {action: @checkpoint.new_record? ? :create : :update} do |f| %>

    <%= render partial: "errors", locals: {object: @checkpoint} %>

    <table class="survey">
      <% @checkpoint.checkpoint_answers && @checkpoint.checkpoint_answers.each_with_index do |checkpoint_answer, i| %>
        <%= render "answer_review_fields", {checkpoint_answer: checkpoint_answer, f: f, i: i } %>
      <% end %>
    </table>

    <% if current_user.is_manager? && current_user.id == @checkpoint.approve_id  %>
      <table class="ranking">
        <tr>
          <th><%= f.label :ranking %></th>
          <td>
            <% Settings.users.ranking.each_with_index do |rank, index| %>
              <%= f.radio_button :ranking, rank, style: "display: inline-block;", id: "ranking#{index}" %>
              <label for="<%= 'ranking' + index.to_s %>"><%= rank %></label>
            <% end %>
          </td>
        </tr>
      </table>
      <div class="form-actions" style = "background-color: #FFFFFF;">
        <% if @checkpoint.approveable?  %>
          <%= f.button t(:button_finish, scope: [:views, :labels]), class: "btn btn-primary", name: "#{model_name.underscore}[state_event]", value: "approve" %>
        <% end %>
      </div>
    <% else %>
      <div class="form-actions" style = "background-color: #FFFFFF;">
        <%= f.button t(:button_finish, scope: [:views, :labels]), class: "btn btn-primary", name: "#{model_name.underscore}[state_event]", value: "reviewed" %>
      </div>
    <% end %>
    
  <% end %>
</selection>
