<%= form_for @group, url: {action: @group.new_record? ? :create : :update} do |f| %>

  <%= render partial: "errors", locals: {object: @group} %>

  <table class="formTbl contents">
    <tr>
      <th><%= f.label :name %></th>
      <td><%= f.text_field :name %></td>
    </tr>
    <tr>
      <th><%= f.label :parent %></th>
      <td><%= f.select :parent_id, include_not_select + Group.all.map { |group| [group.name, group.id] } %></td>
    </tr>
    
  </table>
  <div class="form-actions">
    <%= f.submit @group.new_record? ? "Create" : "Edit", class:"btn btn-primary" %>
  </div>
<% end %>
