<selection id="group_show">
  <div class="ctsTit">
    <h2><%= h2_label %></h2>
  </div>

  <table class="formTbl contents">
    <tbody>
      <tr>
        <th width="15%"><%= model.human_attribute_name :name %></th>
        <td><%= @group.name %></td>
      </tr>
      <% if @group.parent %>
        <tr>
          <th><%= model.human_attribute_name :parent %></th>
          <td><%= @group.parent.name %></td>
        </tr>
      <% end %>
      <tr>
        <th><%= model.human_attribute_name :created_at %></th>
        <td><%= @group.created_at %></td>
      </tr>
      <tr>
        <th><%= model.human_attribute_name :updated_at %></th>
        <td><%= @group.updated_at %></td>
      </tr>
      
    </tbody>
  </table>
  <div class="form-actions">
    <%= link_to t(:button_index, scope: [:views, :labels]), url_for(action: :index), class: "btn" %>
    <%= link_to t(:button_edit, scope: [:views, :labels]), url_for(action: :edit), class: "btn btn-primary" %>
    <%= link_to t(:button_delete, scope: [:views, :labels]), url_for(action: :destroy), confirm: "Do you want to delete it ?", method: :delete, class: "btn btn-danger"%>
  </div>

</section>
