<%= form_for @user do |f| %>

  <%= render partial: "errors", locals: {object: @user} %>

  <table class="formTbl contents">
    <% if current_user.hr_role? %>
      <tr>
        <th width="15%"><%= f.label :uid %></th>
        <td><%= f.text_field :uid %></td>
      </tr>
    <% end %>
    <tr>
      <th width="15%"><%= f.label :email %></th>
      <td><%= f.text_field :email %></td>
    </tr>
    <tr>
      <th><%= f.label :display_name %></th>
      <td><%= f.text_field :display_name %></td>
    </tr>
    <tr>
      <th><%= f.label :cardID %></th>
      <td><%= f.text_field :cardID %></td>
    </tr>
    <tr>
      <th><%= f.label :avatar %></th>
      <td><%= f.file_field :avatar %></td>
    </tr>
    <% if current_user.hr_role? %>
      <tr>
        <th><%= f.label :role %></th>
        <td>
          <% RoleCategory.all .each do |role_category|%>
            <%= role_category.name %>:
            <% role_category.roles.each do |role| %>
              <% user_role = 
                 @user.user_roles.detect { |group_user| group_user.role == role } ||
                 @user.user_roles.build(role_id: role.id).tap { |c| c.mark_for_destruction }
              %>
              <%= f.fields_for :user_roles, user_role do |user_roles_fields| %>
                <%= user_roles_fields.hidden_field :role_id %>
                <%= user_roles_fields.check_box :_destroy, {checked: !user_role.marked_for_destruction?}, 0, 1 %>
                <%= role.name %>
              <% end %>
            <% end %>
            <br>
          <% end %>
        </td>
      </tr>
      <tr>
        <th><%= f.label :position %></th>
        <td>
          <%= f.hidden_field :position_event %>
          <%= f.select :position, Settings.positions %>
          <div id="group" <%= 'style=display:none' unless ["manager", "submanager"].include? @user.position %>>
            <br>
            <% Group.all.each do |group| %>
              <% group_user = 
                 @user.group_users.detect { |group_user| group_user.group == group } ||
                 @user.group_users.build(group_id: group.id).tap { |c| c.mark_for_destruction }
              %>
              <%= f.fields_for :group_users, group_user do |group_fields| %>
                <%= group_fields.hidden_field :group_id %>
                <%= group_fields.check_box :_destroy, {checked: !group_user.marked_for_destruction?}, 0, 1 %>
                <%= group.name %><br>
                <%= group.teams.map{ |team| team.name }.join(", ") %><br>
              <% end %>
            <% end %>
          </div>

          <div id="team" <%= "style=display:none;" unless ["leader", "subleader", "member"].include? @user.position %>>
            <br>
            <%= select_tag :group_select, options_for_select(Group.all.map { |group| [group.name, group.id] }, @user.team.try(:group).try(:id)) %>
            <%= f.select :team_id, @user.team.nil? ? (Group.first.nil? ? [] : Group.first.teams.map { |team| [team.name, team.id ] }) : @user.team.group.teams.map { |team| [team.name, team.id ] } %>
          </div>
        </td>
      </tr>
    <% end %>
    <tr>
      <th><%= f.label :hometown %></th>
      <td><%= f.text_field :hometown %></td>
    </tr>
    <tr>
      <th><%= f.label :residential_address %></th>
      <td><%= f.text_field :residential_address %></td>
    </tr>
    <tr>
      <th><%= f.label :gender %></th>
      <td>
        <% Settings.users.gender.each do |gender| %>
          <%= f.radio_button :gender, gender, style: "display: inline-block;" %>
          <label for="<%= "user_gender_#{gender.downcase}" %>"><%= gender %></label>
        <% end %>
      </td>
    </tr>
    <tr>
      <th><%= f.label :marital_status %></th>
      <td>
        <% Settings.users.marital_status.each do |marital_status| %>
          <%= f.radio_button :marital_status, marital_status, style: "display: inline-block;" %>
          <label for="<%= "user_marital_status_#{marital_status.downcase}" %>"><%= marital_status %></label>
        <% end %>
      </td>
    </tr>
    <tr>
      <th><%= f.label :contract_type %></th>
      <td>
        <% Settings.users.contract_types.each do |contract_type| %>
          <%= f.radio_button :contract_type, contract_type, style: "display: inline-block;" %>
          <label for="<%= "user_contract_type_#{contract_type.gsub(" ", "_").downcase}" %>"><%= contract_type %></label>
        <% end %>
      </td>
    </tr>
    <tr>
      <th><%= f.label :tel %></th>
      <td><%= f.text_field :tel %></td>
    </tr>
    <tr>
      <th><%= f.label :identity_id %></th>
      <td><%= f.text_field :identity_id %></td>
    </tr>
    <tr>
      <th><%= f.label :university %></th>
      <td><%= f.text_field :university %></td>
    </tr>
    <tr>
      <th><%= f.label :foreign_language %></th>
      <td><%= f.text_field :foreign_language %></td>
    </tr>
    <tr>
      <th><%= f.label :license_plate %></th>
      <td><%= f.text_field :license_plate %></td>
    </tr>
    <tr>
      <th><%= f.label :ticket %></th>
      <td><%= f.text_field :ticket %></td>
    </tr>
    <tr>
      <th><%= f.label :birthday %></th>
      <td><%= f.text_field :birthday, class: "datepicker icon_calendar_small" %></td>
    </tr>
    <tr>
      <th><%= f.label :join_date %></th>
      <td><%= f.text_field :join_date, class: "datepicker icon_calendar_small" %></td>
    </tr>
    <tr>
      <th><%= f.label :out_date %></th>
      <td><%= f.text_field :out_date, class: "datepicker icon_calendar_small" %></td>
    </tr>
  </table>
  <div class="form-actions">
    <%= link_to t(:button_index, scope: [:views, :labels]), url_for(action: :index), class: "btn" %>
    <%= f.submit t((@user.new_record? ? :button_create : :button_update), scope: [:views, :labels]), class:"btn #{action_name=='edit' ? 'btn-primary' : 'btn-warning'}" %>
  </div>
<% end %>
