<div class="left_menu" style= "width:19%;">
  <div class="div_manager">Manager</div>
  <div class="div_submanager">Sub Manager</div>
  <div class="div_leader">Leader</div>
  <div class="div_subleader">Subleader</div>
  <div class="div_member">Member</div>
</div>
<div class ="parent_scroll right_body">
  <div id="list_member">
    
    <% Group.all.each_with_index do |group, index| %>
      <% style = index % 2 == 0 ? "opp" : "event" %>
      <div class="group <%= style %>" data-group = "<%= group.id %>">
        <div class="group_name" data-id = "name">
          <h3><%= group.name %></h3>
        </div>
        <div class="sortable-list <%= style %>" data-id = "manager">
          <% group.managers.find_managers.each do |user| %>
            <div class="sortable-item" data-id="<%= user.id %>"><%= image_tag(user.avatar_url, class: "thumb_member") %></div>
          <% end %>
        </div>

        <div class="sortable-list <%= style %>" data-id = "submanager">
          <% group.managers.find_submanagers.each do |submanager| %>
            <% if submanager.present? %>
              <div class="sortable-item" data-id="<%= submanager.try(:id) %>"><%= image_tag(submanager.try(:avatar_url), class: "thumb_member") %></div>
            <% end %>
          <% end %>
        </div>
        <% group.teams.each do |team| %>
          <div class="team" data-team = "<%= team.id %>">
            <div class="teams" data-id = "name">
              <h3><%= team.name %></h3>
            </div>
            <% leaders = team.users.find_leaders %>
            <div class="sortable-list <%= style %>" data-id = "leader">
              <% leaders.each do |leader|%>
                <div class="sortable-item" data-id="<%= leader.try(:id)%>"><%= image_tag(leader.avatar_url, class: "thumb_member") %></div>
              <% end %>
            </div>
            <% subleaders = team.users.find_subleaders %>
            <div class="sortable-list <%= style %>" data-id = "subleader">
              <% subleaders.each do |subleader| %>
                <div class="sortable-item" data-id="<%= subleader.try(:id)%>"><%= image_tag(subleader.avatar_url, class: "thumb_member") %></div> 
              <% end %>
            </div>

            <% members = team.users.find_members %>
            <div class="sortable-list <%= style %>" data-id = "member">
              <% members.each do |member|%>
                <div class="sortable-item" data-id="<%= member.try(:id)%>"><%= image_tag(member.avatar_url, class: "thumb_member") %></div> 
              <% end %>
            </div>
          </div>
        <% end %>

      </div>
    <% end %>

    <div class="clearer">&nbsp;</div>
  </div>
</div>

