<selection>
  <div>
    <div class="left_menu" style="">
      <div class="border">
        <div class="user_info">
          <%= link_to image_tag(@user.avatar_url, class: "avatar_main", alt: "No image"), url_for(action: :show) %><br>
          <div class="information">
            <p><%= @user.display_name %></p>
            <p><%= @user.position.humanize %></p>
            <p><%= "#{@user.team.group.name}-#{@user.team.try(:name)}" if @user.team.try(:name) %></p>
          </div>
        </div>
      </div>
      <% if @user.is_leader? %>
        <div class="border margintop_20px">
          <h2 class="title_div">Team member</h2><br>
          <div class="team">
            <div style="margin-top: 10px">
              <% @user.team && @user.team.users.each do |tem_member| %>
                <div style="display: inline-block">
                  <%= link_to image_tag(tem_member.avatar_url, class: "avatar", alt: "No image"), url_for(action: :show, id: tem_member.id), data: tem_member.display_name %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <div class="right_body">
      <div class="text border">
        <h2 class="title_div">Notice from HR</h2><br>
        <a>NOTICE NOTICE NOTICE NOTICE NOTICE NOTICE NOTICE NOTICE NOTICE NOTICE</a><br>
        <a>NOTICE NOTICE NOTICE NOTICE NOTICE NOTICE NOTICE NOTICE NOTICE NOTICE</a><br>
        <a>NOTICE NOTICE NOTICE NOTICE NOTICE NOTICE NOTICE NOTICE NOTICE NOTICE</a><br>
        <a>NOTICE NOTICE NOTICE NOTICE NOTICE NOTICE NOTICE NOTICE NOTICE NOTICE</a><br>
      </div>

      <% if @user.is_leader? %>
        <div class="text margintop_20px border">
          <h2 class="title_div">Last week didn't write report</h2><br>
          <% @user.team && @user.team.users.not_report_last_week.each do |tem_member| %>
            <div style="display: inline-block;">
              <%= link_to image_tag(tem_member.avatar_url, class: "avatar", alt: "No image"), url_for(action: :show, id: tem_member.id), data: tem_member.display_name %>
            </div>
          <% end %>
        </div>
      <% end %>

      <% if @user.is_manager? %>
        <div class="group_member border margintop_20px">
          <ul class="title_div nav nav-pills">
            <% @user.groups.each do |group| %>
              <li class="group <%= 'active' if group == @user.groups.first %>" data-id="group_<%= group.id %>"><a id="a_<%= group.id %>" href="#a_<%= group.id %>"><%= group.name %></a></li>
            <% end %>
          </ul>
          <% @user.groups.each do |group| %>
            <table style="margin-top: 5px; <%= 'display:none' if group != @user.groups.first %>"class="group_table itemList" id="group_<%= group.id %>">
              <% group.teams.each do |team| %>
                <tr>
                  <th width="15%"><%= team.name %></th>
                  <td>
                    <% team.users.each do |user| %>
                      <div style="display: inline-block; margin: 5px 5px;">
                        <%= link_to image_tag(user.avatar_url, class: "avatar", alt: "No image"), url_for(action: :show, id: user.id), data: user.display_name %>
                      </div>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </table>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</selection>
