<selection>
  <div>
    <div class="left_menu" style="">
      <table class = "user_profile">
        <tr>
          <th style="line-height: 187px">
            <%= link_to image_tag(@user.avatar_url, class: "avatar_main", alt: "No image"), url_for(action: :show) %>
          </th>
        </tr>
        <tr>
          <td>
            <strong><%= @user.display_name %></strong>
          </td>
        </tr>
        <tr>
          <td class = "item">
            <i><%= @user.position.capitalize %></i>
          </td>
        </tr>
        <% if @user.is_leader? || @user.is_staff? %>
          <tr>
            <td class = "item">
              <div class = "user_group"><i><%= @user.team.group.name %> - <%= @user.team.name %></i></div>
            </td>
          </tr>
        <% elsif @user.is_manager? %>
          <tr>
            <td class = "item">
              <div class = "user_group"><i><%= @user.groups.first.try(:name) %></i></div>
            </td>
          </tr>
        <% end %>
      </table>
      <% if @user.is_leader? && current_user == @user %>
        <div class = "lst_member">
          Team Group<div><span><%= current_user.team.users.count %></span></div>
        </div>
        <div class = "lst_member_bottom">
          <% if @user.is_leader? && current_user == @user %>
                <% @user.team && @user.team.users.each do |tem_member| %>
                  <div style="display: inline-block" class= "member_item">
                    <%= link_to image_tag(tem_member.avatar_url, class: "member_avatar", alt: "No image"), url_for(action: :show, id: tem_member.id), data: tem_member.display_name %>
                  </div>
                <% end %>
          <% end %>
        </div>
      <% end %>
    </div>

    <div class="right_body">
      <% if current_user == @user %>
        <div class="notice_top">
          Notice from HR
        </div>
        <div class="notice_content">
          <div class = "content_item">You have it covered aside form using the wrong property. The scrollbar can be triggers with any property overflow , overflow-x , or overflow-y and</div>
          <div class = "content_item">You have it covered aside form using the wrong property. The scrollbar can be triggers with any property overflow , overflow-x , or overflow-y and</div>

        </div>
      <% end %>
    
      <% if @user.is_leader? && current_user == @user %>
        <div class="notice_bottom">
          Last week didn't write report
        </div>
        <div class = "notice_bottom_content">
          <% @user.team && @user.team.users.not_report_last_week.each do |tem_member| %>
            <div class = "bottom_item">
              <%= link_to image_tag(tem_member.avatar_url, class: "thumb_member", alt: "No image"), url_for(action: :show, id: tem_member.id), data: tem_member.display_name %>
            </div>
          <% end %>
        </div>
      <% end %>

      <% if @user.is_manager? && current_user == @user %>
        <div class="group_member border margintop_20px">
          <ul class="title_div nav nav-pills">
            <% @user.groups.each do |group| %>
              <li class="group <%= 'active' if group == @user.groups.first %>" data-id="group_<%= group.id %>"><a id="a_<%= group.id %>" href="#a_<%= group.id %>"><%= group.name %></a></li>
            <% end %>
          </ul>
          <% @user.groups.each do |group| %>
            <table style="margin: 5px; <%= 'display:none' if group != @user.groups.first %>"class="group_table itemList" id="group_<%= group.id %>">
              <% group.teams.each do |team| %>
                <tr>
                  <th width="15%"><%= team.name %></th>
                  <td>
                    <% team.users.each do |user| %>
                      <div style="display: inline-block; margin: 5px 5px;">
                        <%= link_to image_tag(user.avatar_url, class: "avatar", alt: "No image"), url_for(action: :show, id: user.id), data: user.display_name %>
                      </div>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </table>
          <% end %>
        </div>
      <% end %>

      <!-- Show list project -->

      <div class="<%= current_user == @user ? 'notice_bottom' : 'notice_top' %>">
        List project
      </div>
      <div class="notice_content">
        <ul class="projects root">
          <% Project.current_projects(@user.id).each do |project| %>
            <li class="root">
              <div class="root">
                <%= link_to project.name, url_for(controller: :projects, action: :show, id: project.id), class: "project my-project" %>
                <% if project.description.present? %>
                  <div class="wiki description">
                    <p><%= project.description %></p>
                  </div>
                <% end %>
              </div>
            </li>
          <% end %>
          <% Project.last_projects(@user.id).each do |project| %>
            <li class="root">
              <div class="root">
                <%= link_to project.name, url_for(controller: :projects, action: :show, id: project.id), class: "project old-project" %>
                <% if project.description.present? %>
                  <div class="wiki description">
                    <p><%= project.description %></p>
                  </div>
                <% end %>
              </div>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</selection>
