<asdselection>
  <div>
    <div class="left_menu">
      <table class = "user_profile">
        <tr>
          <th style="divne-height: 187px">
            <%= link_to image_tag(current_user.avatar_url, class: "avatar_main", alt: "No image"), url_for(controller: :users, action: :show, id: current_user.id) %>
          </th>
        </tr>
        <tr>
          <td>
            <strong><%= current_user.display_name %></strong>
          </td>
        </tr>
        <tr>
          <td class = "item">
            <i><%= current_user.position %></i>
          </td>
        </tr>
      </table>
    </div>
    
    <div class="right_body">
      <table class="table_static">
        <tr>
          <th width="15%">Title</th>
          <th>Content</th>
        </tr>
        <% @feedbacks.each do |feedback| %>
          <tr>
            <td><%= feedback.title %></td>
            <td><%= feedback.content %></td>
          </tr>
        <% end %>
      </table>
    </div>

  </div>
</selection>
