<div class = "list_main">
  <div class = "list_member_left">
    <div class="ctsTit">
      <h2>Assign Members</h2>
      <nav></nav>
    </div>
    <table class="list members">
      <%= hidden_field_tag :pickup_list_id, @pickup_list.id %>
      <tr>
        <td class="user">
          <% @pickup_list_users.each_with_index do |pickup_list_user, index| %>
            <div style="display: inline-block;", class="member_info" id="member-<%= pickup_list_user.user_id %>">
              <%= link_to image_tag(pickup_list_user.user.avatar_url, class: "avatar", alt: "No image"),
                url_for(controller: :users, action: :edit, id: pickup_list_user.user_id), data: pickup_list_user.user.display_name %><br>
              <% unless @pickup_list.create_user_id == pickup_list_user.user_id %>
                <%= link_to image_tag("delete.png", size: "18x18"), url_for(action: :destroy, id: pickup_list_user.id),
                  data: {confirm: t(:delete_confirm, scope: [:views, :messages])}, method: :delete,
                  id: "delete-user-#{pickup_list_user.user_id}", style:"display:none;position:absolute;margin-top:-19px;margin-left:36px;" %>
              <% end %>
            </div>
          <% end %>
        </td>
      </tr>
    </table>
  </div>

  <div class = "list_member_right">
    <div>
      <label for="principal_search">Search for member:</label>
      <input id="principal_search" type="text" name="principal_search">
    </div>
    <div id = "principals">
      <% User.all.each do |user| %>
        <% unless @pickup_list.users.map(&:id).include?(user.id) %>
          <div class = "user_name" data-id = "<%= user.display_name.downcase %>">
            <%= check_box_tag "member[]", user.id, false %><%= user.display_name %>
          </div>
        <% end %>
      <% end %>
    </div>
    <%= link_to t(:button_add, scope: [:views, :labels]), "#", class: "btn add_member_to_list" %>
  </div>
</div>
