<selection id="questions_index">
  <div class="ctsTit">
    <h2><%= h2_label %></h2>
    <nav>
      <%= link_to t(:new, scope: [:views, :pages]), url_for(action: :new), class: "btn btn-small btn-warning" %>
    </nav>
  </div>

  <%= render partial: "search" %>

  <table class="table table-bordered" style = "background-color:#FFFFFF;">
    <thead>
      <tr>
        <th width = "50%"><%= model.human_attribute_name :content %></th>
        <th><%= model.human_attribute_name :max_point %></th>
        <th><%= model.human_attribute_name :checkpoint_type %></th>
        <th width = "20%"></th>
      </tr>
    </thead>
    <% @checkpoint_questions.each do |checkpoint_question| %>
      <tr>
        <td><%= checkpoint_question.content %></td>
        <td><%= checkpoint_question.max_point %></td>
        <td><%= checkpoint_question.checkpoint_type %></td>
        <td>
          <%= link_to t(:button_detail, scope: [:views, :labels]), url_for(action: :show, id: checkpoint_question.id), class: "btn btn-mini" %>
          <%= link_to t(:button_edit, scope: [:views, :labels]), url_for(action: :edit, id: checkpoint_question.id), class: "btn btn-primary btn-mini" %>
        </td>
      </tr>
    <% end %>
  </table>
</selection>
