<%= form_for @report, url: {action: @report.new_record? ? :create : :update} do |f| %>
  <table class="formTbl contents">
    <tr>
      <th width= "15%"><%= f.label :categoty_id %></th>
      
      <td>
        <% ReportCategory.all.each do |category| %>
          <%= f.radio_button :report_category_id, category.id %> &nbsp; <%= category.name %>
        <% end %>
      </td>
    </tr>
    <tr style= "display:none;" id = "tr_user_support">
      <th><%= f.label :user_name %></th>
      <td><%= text_field_tag :tags %>
        <div class="tag-badge">
          <% if @report.support_users.present? %>
            <% users = @report.support_users.split(",") %>
            <% users.each do |user| %>
              <span class="tag-name"><%= user %>&nbsp;<img class="clear_support" src="/assets/ico_tag_delete.png" data-id = "<%= user %>"></span>
            <% end %>
          <% end %>
        </div>
        <%= f.hidden_field :support_users %>
        
      </td>
    </tr>
    <tr>
      <th><%= f.label :title %></th>
      <td><%= f.text_field :title %></td>
    </tr>
    <tr>
      <th><%= f.label :description %></th>
      <td><%= f.text_area :description, style: "width:650px; height:100px;"  %></td>
    </tr>
    
  </table>
  <div class="form-actions">
    <%= f.submit @report.new_record? ? I18n.t(:button_create, scope: [:views, :labels]) : I18n.t(:button_edit, scope: [:views, :labels]), class:"btn btn-primary" %>
  </div>
<% end %>
