<%= form_for @report, url: {action: @report.new_record? ? :create : :update} do |f| %>

  <table class="formTbl contents">
    <tr>
      <th><%= f.label :report_categoty_id %></th>
      <td><%= f.collection_select :report_category_id, ReportCategory.all, :id, :name %></td>
    </tr>
    <tr>
      <th><%= f.label :description %></th>
      <td><%= f.text_area :description %></td>
    </tr>
    
  </table>
  <div class="form-actions">
    <%= f.submit @report.new_record? ? I18n.t(:button_create, scope: [:views, :labels]) : I18n.t(:button_edit, scope: [:views, :labels]), class:"btn btn-primary" %>
  </div>
<% end %>
