<%= form_for @report, url: {action: @report.new_record? ? :create : :update} do |f| %>

  <%= render partial: "errors", locals: { object: @report } %>

  <table>
    <tr>
      <td width= "15%" class="td1"><%= f.label :categoty_id %></td>
      <td>
        <div id="show">
        <% ReportCategory.all.each_with_index do |category, index| %>
          <% if @report.report_category_id.blank? && index ==0 %>
            <%= f.radio_button :report_category_id, category.id ,checked: true %>
            <label for="<%= "report_report_category_id_#{category.id}" %>"><span></span><%= category.name %></label>
          <% else %>
            <%= f.radio_button :report_category_id, category.id %>
            <label for="<%= "report_report_category_id_#{category.id}" %>"><span></span><%= category.name %></label>
          <% end %>
        <% end %>
        </div>
      </td>
    </tr>
    <tr style= "display:none;" id = "tr_user_support">
      <th class="td1"><%= f.label :user_name %></th>
      <td>
        <%= text_field_tag :tags %>
        <div class="tag-badge">
          <% if @report.support_users.present? %>
            <% @report.support_users.each do |user| %>
              <span class="tag-name"><%= User.find(user.user_id).display_name %>&nbsp;<img class="clear_support" src="/assets/ico_tag_delete.png" data-id = "<%= user.user_id %>"></span>
            <% end %>
          <% end %>
        </div>
        <%= hidden_field_tag :support_users, @report.support_users.present? ? @report.support_users.pluck(:user_id).join(',') : "", "data-name_nested_attributes" => "report[support_users_attributes]" %>
        <div id = "div_support_users">
          <% @report.support_users && @report.support_users.each_with_index do |support_user, i| %>
            <%= render "support_users_fields", {support_user: support_user, f: f , id: support_user.user_id, time: Time.now.to_i} %>
          <% end %>
        </div>
      </td>
    </tr>
    <tr>
      <th class="td1"><%= f.label :report_date %></th>
      <td><%= f.text_field :report_date %></td>
    </tr>
    <tr>
      <th class="td1"><%= f.label :title %></th>
      <td><%= f.text_field :title %></td>
    </tr>
    <tr>
      <th class="td1"><%= f.label :description %></th>
      <td><%= f.text_area :description  %></td>
    </tr>
    
  </table>
  <div class="form-actions">
    <%= f.submit @report.new_record? ? I18n.t(:button_create, scope: [:views, :labels]) : I18n.t(:button_edit, scope: [:views, :labels]), class:"btn btn-primary" %>
  </div>
<% end %>
