<table>
  <tr>
    <th class="td1"><%= f.label :category_id %></th>
    <td style="padding-bottom: 15px;">
      <%= f.collection_select :report_category_id_eq, ReportCategory.all, :id, :name, include_blank: true %>
      <%= check_box_tag :was_sticky, 1, params[:was_sticky].present? ? true : false, style: "margin-left: 60px;" %>
      <label style="font-size: 15px;">Sticky</label>
    </td>
  </tr>
  <% if current_user.is_manager? %>
    <tr>
      <th class="td1"><%= f.label :stick_type %></th>
      <td style="padding-bottom: 15px;"><%= select_tag :stick_type, options_for_select(Settings.stick_type_list, params[:stick_type]) %></td>
    </tr>
  <% end %>
  <tr>
    <th class="td1"><%= f.label :title %></th>
    <td><%= f.text_field :title_cont %></td>
  </tr>
  <tr>
    <th class="td1"><%= f.label :description %></th>
    <td><%= f.text_field :description_cont %></td>
  </tr>
  <tr>
    <th class="td1"><%= f.label :report_date %></th>
    <td>
      <%= f.text_field :report_date_gteq, class: "datepicker" %>
      <%= f.text_field :report_date_lteq, class: "datepicker" %>
    </td>
  </tr>
  <tr>
    <th class="td1"><%= f.label :year %>-<%= f.label :month %></th>
    <td>
      <%= f.select :report_date_year_eq, (2012..Time.now.year).to_a, include_blank: true %>
      <%= f.select :report_date_month_eq, (1..12).to_a, include_blank: true %>
    </td>
  </tr>
</table>

<%= hidden_field_tag :member_id, params[:member_id]%>

