<table>
  <tr>
    <th class="td1"><%= f.label :category_id %></th>
    <td style="padding-bottom: 15px;">
      <%= f.collection_select :report_category_id_eq, ReportCategory.all, :id, :name, include_blank: true %>
    </td>
  </tr>
  <% if current_user.is_manager? || current_user.is_leader? %>
    <tr>
      <th class="td1"><%= f.label :sticky %></th>
      <td style="padding-bottom: 15px;">
        <% Settings.stick_type_list.each_with_index do |type, index| %>
          <% if params[:sticky_type].blank? && index == 0 %>
            <%= radio_button_tag :sticky_type, type[1], true %>
            <label for= "<%= "sticky_type_#{type[1]}" %>"><span></span><%= type[0] %></label>
          <% else %>
            <%= radio_button_tag :sticky_type, type[1], type[1].to_s == params[:sticky_type] ? true : false %>
            <label for= "<%= "sticky_type_#{type[1]}" %>"><span></span><%= type[0] %></label>
          <% end %>
        <% end %>
      </td>
    </tr>
  <% end %>
  <tr>
    <th class="td1"><%= f.label :title %></th>
    <td><%= f.text_field :title_cont %></td>
  </tr>
  <tr>
    <th class="td1"><%= f.label :description %></th>
    <td><%= f.text_field :description_cont %></td>
  </tr>
  <tr>
    <th class="td1"><%= f.label :report_date %></th>
    <td>
      <%= f.text_field :report_date_gteq, class: "datepicker" %>
      <%= f.text_field :report_date_lteq, class: "datepicker" %>
    </td>
  </tr>
  <tr>
    <th class="td1"><%= f.label :year %>-<%= f.label :month %></th>
    <td>
      <%= f.select :report_date_year_eq, (2012..Time.now.year).to_a, include_blank: true %>
      <%= f.select :report_date_month_eq, (1..12).to_a, include_blank: true %>
    </td>
  </tr>
</table>

<%= hidden_field_tag :member_id, params[:member_id]%>

