<table>
  <tr>
    <th class="td1"><%= f.label :category_id %></th>
    <td style="padding-bottom: 15px;">
      <%= f.select :report_category_id_eq, include_not_select + ReportCategory.all.collect { |r| [r.name, r.id]} %>
    </td>
  </tr>
  <% if current_user.is_manager? || current_user.is_leader? %>
    <tr>
      <th class="td1"><%= f.label :sticky %></th>
      <td style="padding-bottom: 15px;">
        <% Settings.stick_type_list.each_with_index do |type, index| %>
          <% if params[:sticky_type].blank? && index == 0 %>
            <%= radio_button_tag :sticky_type, type[1], true %>
            <label for= "<%= "sticky_type_#{type[1]}" %>"><span></span><%= type[0] %></label>
          <% else %>
            <%= radio_button_tag :sticky_type, type[1], type[1].to_s == params[:sticky_type] ? true : false %>
            <label for= "<%= "sticky_type_#{type[1]}" %>"><span></span><%= type[0] %></label>
          <% end %>
        <% end %>
      </td>
    </tr>
  <% end %>
  <tr>
    <th class="td1"><%= f.label :title %></th>
    <td><%= f.text_field :title_cont %></td>
  </tr>
  <tr>
    <th class="td1"><%= f.label :description %></th>
    <td><%= f.text_field :description_cont %></td>
  </tr>
  <tr>
    <th class="td1">
      <%= select_tag :report_time, options_for_select([["Date", "search_date"], ["Month-Year", "search_month_year"]]) %>
    </th>
    <td id="search_date">
      <%= f.text_field :report_date_gteq, class: "datepicker icon_calendar" %>
      <%= f.text_field :report_date_lteq, class: "datepicker icon_calendar" %>
    </td>
    <td style="display: none; vertical-align: top;" id="search_month_year">
      <%= f.select :report_date_year_eq, include_not_select + (2012..Time.now.year).to_a %>
      <%= f.select :report_date_month_eq, include_not_select + (1..12).to_a %>
    </td>
  </tr>
</table>

<%= hidden_field_tag :member_id, params[:member_id]%>

