<script src="http://code.highcharts.com/highcharts.js"></script>

  <% if current_user.is_manager? %>
    <table class="table itemList">
      <% current_user.groups.each do |group| %>
        <% group.teams.each do |team| %>
          <tr>
            <% if team == group.teams.first %>
              <th width="15%" rowspan="<%= group.teams.count %>"><%= group.name %></th>
            <% end %>
            <td width="10%"><%= team.name %></td>
            <td>
              <% team.users.each do |user| %>
                <a data="<%= user.display_name %>" href="<%= url_for(action: :charts, member_id: user.id) %>">
                  <%= image_tag(user.avatar_url, alt: "Errors", width: "50px", height: "50px", class: "avatar #{ 'border_blue' if params[:member_id].to_i == user.id }") %>
                </a>
              <% end %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </table>
  <% end %>

  <% if current_user.is_leader? %>
    <table class="table itemList">
      <tr>
        <th width="15%" style="font-size: 15px"><%= t(:report_of, scope: [:views, :labels]) %></th>
        <td>
          <a data="<%= current_user.display_name %>" href="<%= url_for(action: :charts) %>">
            <%= image_tag(current_user.avatar_url, alt: "Errors", width: "50px", height: "50px", class: "avatar #{ 'border_blue' unless params[:member_id].present? }") %>
          </a>
          <% current_user.team && (current_user.team.users - [current_user]).each do |user| %>
            <a data="<%= user.display_name %>" href="<%= url_for(action: :charts, member_id: user.id) %>">
              <%= image_tag(user.avatar_url, alt: "Errors", width: "50px", height: "50px", class: "avatar #{ 'border_blue' if params[:member_id].to_i == user.id }") %>
            </a>
          <% end %>
        </td>
      </tr>
    </table>
  <% end %>

<%= form_for @report, url: {action: @report.new_record? ? :create : :update} do |f| %>
  <table class="formTbl contents">
    <tr>
      <th width= "15%"><%= label_tag :report_by %></th>
      <td colspan = 3>
        <select id="report_type" name="report_type">
          <option value="month">Report by Month</option>
          <option value="week">Report by Week</option>
        </select>
      </td>
    </tr>
    <tr id = tr_month>
      <th width= "15%"><%= f.label :report_date_from %></th>
      <td><input id="report_from" class="datepicker" type="text" name="report_from"></td>
      <th width= "15%"><%= label_tag :to %></th>
      <td><input id="report_to" class="datepicker" type="text" name="report_to"></td>
    </tr>

  </table>
  <div class="form-actions">
    <input id ="view_charts" class="btn btn-primary" type="button" value="Report" name="view_charts">
  </div>
<% end %>
<%= hidden_field_tag :user_id , params[:member_id].present? ? params[:member_id] : current_user.id %>
<%= hidden_field_tag :user_name , params[:member_id].present? ? params[:member_id] : current_user.display_name %>
<div id="container" style="width:100%;"></div>

