<selection id="groups_index">
  <% if ["Manager", "Submanager"].include? current_user.position %>
    <table class="table itemList">
      <% current_user.groups.each do |group| %>
        <% group.teams.each do |team| %>
          <tr>
            <% if team == group.teams.first %>
              <th rowspan="<%= group.teams.count %>"><%= group.name %></th>
            <% end %>
            <td><%= team.name %></td>
            <td>
              <% team.users.each do |user| %>
                <a data="<%= user.display_name %>" href="<%= url_for(action: :index, member_id: user.id) %>">
                  <%= image_tag(user.avatar_url, alt: "Errors", title: "#{ user.display_name }", width: "50px", height: "50px", class: "avatar #{ 'border_blue' if params[:member_id].to_i == user.id }") %>
                </a> &nbsp;
              <% end %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </table>
  <% end %>

  <% if ["Leader", "Subleader"].include? current_user.position %>
    <table class="table itemList">
      <tr>
        <th width="15%" style="font-size: 15px"><%= t(:report_of, scope: [:views, :labels]) %></th>
        <td>
          <a data="<%= current_user.display_name %>" href="<%= url_for(action: :index) %>">
            <%= image_tag(current_user.avatar_url, alt: "Errors", width: "50px", height: "50px", class: "avatar #{ 'border_blue' unless params[:member_id].present? }") %>
          </a>&nbsp;
          <% current_user.team && (current_user.team.users - [current_user]).each do |user| %>
            <a data="<%= user.display_name %>" href="<%= url_for(action: :index, member_id: user.id) %>">
              <%= image_tag(user.avatar_url, alt: "Errors", title: "#{ user.display_name }", width: "50px", height: "50px", class: "avatar #{ 'border_blue' if params[:member_id].to_i == user.id }") %>
            </a> &nbsp;
          <% end %>
        </td>
      </tr>
    </table>
  <% end %>
  <div class="ctsTit">
    <h2><%= h2_label %></h2>
    <nav>
      <%= link_to t(:button_report, scope: [:views, :labels]), url_for(action: :new), class: "btn btn-small btn-warning" %>
    </nav>
  </div>

  <%= render partial: "search" %>

  <table class="itemList table-bordered" id="list_report">
    
    <% current_year = nil %>
    <% current_month = nil %>
    <% current_week = nil %>
    <% current_day = nil %>
    <% @reports.each do |report| %>
      <% is_change_year = current_year != report.year ? true : false %>
      <% current_year = report.year if is_change_year %>
      <% is_change_month = current_month != report.month ? true : false %>
      <% current_month = report.month if is_change_month %>
      <% is_change_week = current_week != report.week ? true : false %>
      <% current_week = report.week if is_change_week %>
      <% is_change_day = current_day != report.report_date ? true : false %>
      <% current_day = report.report_date if is_change_day %>
      <% if is_change_year || is_change_month %>
        <tr>
          <td class="month_div" colspan="7" style="text-align: left;">
          <%= "#{Date::MONTHNAMES[report.month]} #{report.year}" %></td>
        </tr>
      <% end %>
      <% if is_change_week %>
        <tr>
          <td style="border-bottom: none;"></td>
          <td class="week_div" colspan="4" style="text-align: left;">
          <%= cweek_to_date report.week, report.year %></td>
          <td style="border-bottom: none;"></td>
        </tr>
        <tr>
          <td style="border-bottom: none;" width="4%"></td>
          <th style="border-left: 1px solid #DDDDDD;" width="4%"></th>
          <th width="12%"><%= model.human_attribute_name :report_category_id %></th>
          <th><%= model.human_attribute_name :description %></th>
          <th width = "20%"></th>
          <td style="border-bottom: none;"></td>
        </tr>
      <% end %>
      <tr data-id = "<%= report.id %>" <%= "style=color:orange" if report.in_current_week? %>>
        <td style="border-bottom: none; border-top: none;"></td>
        <% if is_change_day %>
          <td <%= "rowspan=#{@reports.select { |r| r.report_date == current_day }.length}"%>>
            <%= report.report_date.strftime("%a") %>
          </td>
        <% end %>
        <td><%= report.report_category.name %></td>
        <td><a style="color: <%= report.in_current_week? ? :orange : :black %>" href="<%= url_for(action: :show, id: report.id) %>"><%= report.description %></a></td>
        <td>
          <%= link_to_if(report.in_current_week?, t(:button_edit, scope: [:views, :labels]), url_for(action: :edit, id: report.id), class: "btn btn-primary btn-mini") {} %>
          <%= link_to_if(report.in_current_week?, t(:button_delete, scope: [:views, :labels]), url_for(action: :destroy, id: report.id), confirm: I18n.t(:delete_confirm, scope: [:views, :messages]), method: :delete, class: "btn btn-danger btn-mini") {} %>
          <%= link_to_if(!report.is_favourited?(current_user.id) && current_user.position == "Leader", t(:button_favourites, scope: [:views, :labels]), url_for(controller: "favourites", action: :create, report_id: report.id ), class: "btn btn-primary btn-mini add_favourite", remote: true , method: :post, id: "add_favourite_#{report.id}" ) {} %>
        </td>
        <td style="border-left: 1px solid #DDDDDD; border-bottom: none; border-top: none;" width="4%"></td>
      </tr>
    <% end %>
  </table>
  
  <div class="pagination">
    <div class="paginate-box no_print"><%= will_paginate @reports %></div>
  </div>
</selection>

