<selection id="groups_index">
  <div>
    <div class="left_menu <%= 'scroll' unless current_user.is_hr? %>" style="box-shadow: 0 1px 3px rgba(0,0,0,.5);">
      <% if current_user.is_manager? && !current_user.is_hr? %>
        <% current_user.groups.each do |group| %>
          <div class="lst_member" style="margin-top: 0px;">
            <%= truncate(group.name, length: 20) %><span><%= group.users_number %></span>
          </div>
          <% group.teams.each do |team| %>
            <div class="team_name"><%= "#{team.name} (#{team.users.count})" %></div>
            <div class="lst_member_bottom">
              <% team.users.each do |user| %>
                <div style="display: inline-block" class= "member_item">
                  <a class="test_hover" data="<%= user.display_name %>" href="<%= url_for(action: :index, member_id: user.id) %>">
                    <%= image_tag(user.avatar_url, alt: "Errors",
                      class: "member_avatar #{ 'border_blue' if params[:member_id].to_i == user.id }") %>
                  </a>
                </div>
              <% end %>
            </div>
          <% end %>
        <% end %>
      <% end %>

      <% if current_user.is_leader? %>
        <div class="lst_member" style="margin-top: 0px;">
          <%= current_user.team.try(:name) %><div><span><%= current_user.team.users.count %></span></div>
        </div>
        <div class="lst_member_bottom">
          <% if current_user.is_leader? %>
            <% current_user.team && current_user.team.users.each do |tem_member| %>
              <div style="display: inline-block" class= "member_item">
                <%= link_to image_tag(tem_member.avatar_url,
                  class: "member_avatar #{ 'border_blue' if params[:member_id].to_i == tem_member.id }",
                  alt: "No image"), url_for(action: :index, member_id: tem_member.id),
                  data: tem_member.display_name %>
              </div>
            <% end %>
          <% end %>
        </div>
      <% end %>

      <% if current_user.is_staff? %>
        <table class = "user_profile">
          <tr>
            <th style="line-height: 187px">
              <%= link_to image_tag(current_user.avatar_url, class: "avatar_main", alt: "No image"), url_for(controller: :users, action: :show, id: current_user.id) %>
            </th>
          </tr>
          <tr>
            <td>
              <strong><%= current_user.display_name %></strong>
            </td>
          </tr>
          <tr>
            <td class = "item">
              <i><%= current_user.position %></i>
            </td>
          </tr>
          <tr>
            <td class = "item">
              <div class = "user_group"><i><%= current_user.team.group.name %> - <%= current_user.team.name %></i></div>
            </td>
          </tr>
        </table>
      <% end %>

    </div>
    <div class="right_body" style="margin-left: 20px; width:732px;">
      <% unless current_user.is_hr? || @reports.empty? %>
        <div class="report_create" style="<%= 'width:98%' unless current_user.is_leader? || current_user.is_manager? %>">Report index</div>
        <div class="chart"><%= link_to_if(@current_user.is_leader? || current_user.is_manager?, t(:button_summary, scope: [:views, :labels]), url_for(action: :summary)) {} %></div>
      <% end %>
      
      <% if !current_user.is_reporter? && @reports.any? %>
        <div class="form_create">
          <div class="tab">
            <ul id = "head_nav" style="border-bottom: solid 1px #d5d5d5;">
              <li class="active"><a href="#search_report" data-toggle="tab">Search</a></li>
            </ul>
            <div id="myTabContent">
              <div class="tab-pane active" id="search_report"><%= render partial: "search" %></div>
            </div>
          </div>
        </div>
      <% end %>
      <% if current_user.is_reporter? %>
        <div class="form_create">
          <div class="tab ">
            <ul id = "head_nav" style="border-bottom: solid 1px #d5d5d5;">
              <li class="<%= 'active' if (params[:commit] == 'Create' || !(params[:clear] || params[:commit])) %>"><a href="#create_report" data-toggle="tab">New Report</a></li>
              <li class="<%= 'active' if params[:clear] || params[:commit] == 'Search' %>"><a href="#search_report" data-toggle="tab">Search</a></li>
            </ul>

            <div id="myTabContent" class="tab-content">
              <div class="tab-pane  <%= 'active'if (params[:commit] == 'Create' || !(params[:clear] || params[:commit])) %>" id="create_report"><%= render partial: "form" %></div>
              <div class="tab-pane <%= 'active' if params[:clear] || params[:commit] == 'Search' %>" id="search_report"><%= render partial: "search" %></div>
            </div>
          </div>
        </div>
      <% end %> 
    </div>
  </div>
  <% unless current_user.is_hr? %>
    <table class="table_static" id="list_report">
      <% current_year = nil %>
      <% current_month = nil %>
      <% current_week = nil %>
      <% current_day = nil %>
      <% @reports.each do |report| %>
        <% is_change_year = current_year != report.year ? true : false %>
        <% current_year = report.year if is_change_year %>
        <% is_change_month = current_month != report.month ? true : false %>
        <% current_month = report.month if is_change_month %>
        <% is_change_week = current_week != report.week ? true : false %>
        <% current_week = report.week if is_change_week %>
        <% is_change_day = current_day != report.report_date ? true : false %>
        <% current_day = report.report_date if is_change_day %>
        <% if is_change_year || is_change_month %>
          <tr>
            <td class="date_static" colspan="8" style="text-align: left;">
            <%= "#{Date::MONTHNAMES[report.month]} #{report.year}" %></td>
          </tr>
        <% end %>
        <% if is_change_week %>
          <tr>
            <td style="border-bottom: none;border-top: none;"></td>
            <td class="date_static" colspan="5" style="text-align: left;">
            <%= DateUtils::Week.new(report.report_date).to_string %></td>
            <td style="border-bottom: none;"></td>
          </tr>
          <tr>
            <td style="border-bottom: none;border-top: none;" width="4%"></td>

            <td class = "ts_td1" width="4%"></td>
            <td class = "ts_td2" width="12%"><%= model.human_attribute_name :report_category_id %></td>
            <td class = "ts_td3"><%= model.human_attribute_name :title %></td>
            <td class = "ts_td4" width = "50%"><%= model.human_attribute_name :description %></td>
            <td class = "ts_td5" width = "4%"></td>
            <td style="border-bottom: none;border-top: none;"></td>
          </tr>
        <% end %>
        <tr data-id = "<%= report.id %>" <%= "style=color:blue" if report.in_current_week? %>>
          <td style="border-bottom: none; border-top: none;"></td>
          <% if is_change_day %>
            <td <%= "rowspan=#{@reports.select { |r| r.report_date == current_day }.length}"%>>
              <%= report.report_date.strftime("%a") %>
            </td>
          <% end %>
          <td>
            <div id = "image_baget_<%= report.id %>" class = "special">
              <% if report.is_stickied?(params[:member_id]) %>
                <%= image_tag("/assets/ico_new.png", width: "30px") %>
              <% end %>
            </div>
            <%= report.report_category.name %>
          </td>
          <td><%= report.title %></td>
          <td><a style="color: <%= report.in_current_week? ? :blue : "#666666" %>" href="<%= url_for(action: :show, id: report.id) %>"><%= truncate(report.description, length: 90) %></a></td>
          <td>
            <% if can? :update, report %>
              <%= link_to_if(report.in_current_week?, t(:button_edit, scope: [:views, :labels]), url_for(action: :edit, id: report.id), class: "btn btn-primary btn-mini") {} %>
            <% end %>
            <% if can? :update, report %>
              <%= link_to_if(report.in_current_week?, t(:button_delete, scope: [:views, :labels]), url_for(action: :destroy, id: report.id), confirm: I18n.t(:delete_confirm, scope: [:views, :messages]), method: :delete, class: "btn btn-danger btn-mini") {} %>
            <% end %>
            
            <% if report.is_stickied?(current_user.id) %>
              <%= link_to(image_tag("/assets/heart_active.png", id: "add_sticky_#{report.id}"),
                url_for(controller: "stickies", action: :destroy, id: report.stickies.try(:first).try(:id)), method: :delete , remote: true) %>
            <% else %>
              <%= link_to(image_tag("/assets/heart.png", id: "add_sticky_#{report.id}"),
                url_for(controller: "stickies", action: :create, report_id: report.id, user_id: current_user.id ), method: :post, remote: true) %>
            <%end %>
          </td>
          <td style="border-bottom: none; border-top: none;" width="4%"></td>
        </tr>
      <% end %>
    </table>

    <div class="pagination">
      <div class="paginate-box no_print"><%= will_paginate @reports %></div>
    </div>
  <% end %>

  <% if current_user.is_hr? %>
    <div class="text border">
      <div class="ctsTit">
        <h2><%= t(:dont_write_repost_thw, scope: [:views, :labels]) %></h2>
      </div>
      <% User.reporters.not_report_last_week.each do |user| %>
        <div style="display: inline-block;">
          <%= link_to image_tag(user.avatar_url, class: "avatar", alt: "No image"), url_for(action: :show, id: user.id), data: user.display_name %>
        </div>
      <% end %>
    </div>

    <div class="text margintop_20px border">
      <div class="ctsTit">
        <h2><%= t(:dont_write_repost_lw, scope: [:views, :labels]) %></h2>
      </div>
      <% User.reporters.not_report_current_week.each do |user| %>
        <div style="display: inline-block;">
          <%= link_to image_tag(user.avatar_url, class: "avatar", alt: "No image"), url_for(action: :show, id: user.id), data: user.display_name %>
        </div>
      <% end %>
    </div>
  <% end %>
</selection>
