<div class="mainmenu">
  <ul class="menu_drop">
  <li><a href="<%= user_path(current_user) %>" class="<%= 'selected' if model_name == 'User' && action_name == 'show' %>">
      Home
  </a></li>
  <li><a href="<%= url_for(controller: :reports, action: :index) %>" class="<%= 'selected' if model_name == 'Report'%>">
      Daily report
  </a></li>
  <% if !current_user.is_hr?%>
    <li><a href="<%= url_for(controller: :checkpoints, action: :index) %>" class="<%= 'selected' if model_name == 'Checkpoint'%>">
        Checkpoint
    </a></li>
  <% end %>

  <%= render partial: "layouts/navigation" %>
  </ul>
</div>
