<!DOCTYPE html>
<html>
<head>
  <title>HrSystem</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header id="pageHeader" class="navbar navbar-fixed-top" style="box-shadow: none; -webkit-box-shadow: none;">
    <div class="navbar-inner">
      <div class="logo">
        <%= link_to "HR System", root_path %>
      </div>

      <%= render partial: "layouts/navigation" %>

      <% if current_user %>
        <div id="account" class="nav-collapse">
          <ul class="nav">
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown">
              <i class="icon-staff icon-white"></i>
                <%= current_user.try(:email) %>
              <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Profile", "#" %></li>
                <li><%= link_to "Personal Settings", "#" %></li>
                <li class="divider"></li>
                <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
              </ul>
            </li>
         </ul>
        </div>
      <% end %>
       
    </div>
  </header>
  <% if current_user %>
    <header style="box-shadow: none; -webkit-box-shadow: none;" id="pageHeader" class="navbar fix_position">
      <%= render partial: "layouts/navigation_tab" %>
    </header>
  <% end %>
  <div id="pageBody" >

    <% if flash[:error] %>
      <p class="alert alert-error fade in"><a class="close" data-dismiss="alert" href="javascript:void(0)">×</a><%= flash[:error] %></p>
    <% end %>
    <%= yield %>
  </div>

  <footer class="footer">
		  <small>
		    <a href="http://framgia.com/vn">Framgia Co, Ltd</a>
		  </small>
		</footer>

</body>
</html>
