<!DOCTYPE html>
<html>
<head>
  <title>HrSystem</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  
  <%= csrf_meta_tags %>
</head>
<body>
  <header id="pageHeader" class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="logo">
        <%= link_to image_tag("/assets/logo.png"), root_path %>
      </div>
      <% if current_user %>
        <%= render partial: "layouts/navigation_tab" %>
      <% end %>
      <% if current_user %>
        <div id="account" class="">
          <ul class="nav" style="font-size: 12px;">
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" style="font-size: 12px;">
              <i class="icon-staff icon-white"></i>
                <%= current_user.try(:display_name) %>
              <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to t(:profile, scope: [:views, :labels, :users]), url_for(controller: :users, action: :profile, id: current_user.id) %></li>
                <li><%= link_to t(:personal, scope: [:views, :labels, :users]), "#" %></li>
                <li class="divider"></li>
                <% if current_user.is_manager? %>
                  <li><%= link_to t(:project, scope: [:views, :labels, :projects]), url_for(controller: :projects, action: :index) %></li>
                  <li><%= link_to t(:payslip, scope: [:views, :labels, :payslips]), url_for(controller: :payslips, action: :index) if Settings.payslip.accessable.include? current_user.uid %></li>
                  <li><%= link_to t(:organizations, scope: [:views, :labels, :users]), url_for(controller: :users, action: :organizations) %></li>
                  <li><%= link_to t(:pickup_list, scope: [:views, :labels, :pickup_lists]), url_for(controller: :pickup_lists, action: :index) %></li>
                  <li class="divider"></li>
                  <li><%= link_to t(:question, scope: [:views, :labels, :checkpoints]), url_for(controller: :checkpoint_questions, action: :index) %></li>
                  <li><%= link_to t(:checkpoint, scope: [:views, :labels, :checkpoints]), url_for(controller: :checkpoints, action: :new) %></li>
                  <li><%= link_to t(:checkpoint_ranking, scope: [:views, :labels, :rankings]), url_for(controller: :checkpoints, action: :ranking) %></li>
                  <li><%= link_to_if(current_user.is_hr?, t(:period, scope: [:views, :labels, :checkpoints]),
                          url_for(controller: :checkpoint_periods, action: :index)) {} %></li>
                  <li class="divider"></li>
                <% end %>
                <li><%= link_to t(:logout, scope: [:views, :labels, :users]), destroy_user_session_path, method: :delete %></li>
              </ul>
            </li>
            <%= image_tag(current_user.avatar_url, class: "img-circle") %>
          </ul>
        </div>
      <% end %>
    </div>
    
  </header>
  <div id="pageBody" class="bs-header">

    <% if flash[:error] %>
      <p class="alert alert-error fade in"><a class="close" data-dismiss="alert" href="javascript:void(0)">×</a><%= flash[:error] %></p>
    <% end %>
    <%= yield %>
  </div>

  <footer class="footer">
    <small>
      <a href="http://framgia.com/vn">Framgia Co, Ltd</a>
    </small>
  </footer>

  <div class="feedback">
    <a>Feedback</a>
  </div>

  <div class="form_feedback" id="form_feedback">
    <div id="title_feedback">
      <h2>Enter your's feedback</h2>
    </div>
    <%= form_tag url_for(controller: :feedbacks, action: :create), :remote => true do %>
      <div class="content">
        <div class="title">Title</div><input type="text" name="feedback[title]" class="reset">
      </div>
      <div class="content">
        <div class="title">Content</div><textarea name="feedback[content]" class="reset"></textarea>
      </div>
      <input type="text" value="<%= current_user.id %>" name="feedback[user_id]" style="display: none">
      <div class="button">
        <%= submit_tag "OK", class: "btn btn-primary" %>
        <input type="button" class="btn close_feedback" value="Cancel"/>
      </div>
    <% end %>
  </div>

  <div class="feedback_notice">
    <h2>Thank for your feedback!</h2>
  </div>
</body>
</html>
